@import "./fonts.css";

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 2rem 2rem;
}

header,
footer {
  flex: 0 0 10%;
}

main {
  flex: 1;
}

/* Header */

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-family: var(--heading-font);
  color: var(--accent-color);
}

.score {
  font-family: var(--primary-font);
  font-size: larger;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Main */

main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);

  gap: 2rem;
}

.card {
  background-color: #45ceab;
  border-radius: 5px;
}

.cardBorder {
  height: 100%;
  padding: 3px;
  border-radius: 5px;
  position: relative;
  /* background-color: #0c1319; /
  / background-color: #42fed0; */

  /* background-color: #45ceab;
  transition: all 1s ease; */
}

.cardBorder::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.5s ease;
  background: radial-gradient(
    circle at var(--positionX) var(--positionY),
    var(--accent-color),
    transparent 90%
  );
  pointer-events: none;
}

.cardBorder:hover::before {
  /* background: radial-gradient(
    circle at var(--positionX) var(--positionY),
    var(--accent-color),
    transparent 350px
  ); */
  opacity: 1;
}

.cardContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  position: relative;
  cursor: pointer;
  z-index: 1;
}

.card img {
  height: 80%;
  width: 100%;

  object-fit: cover;
}

.cardName {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 20%;
}

.cardName h2 {
  color: var(--accent-color);
  font-family: var(--primary-font);

  text-align: center;
  align-content: center;

  font-size: 2.5rem;
}

/* Footer */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer button {
  font-family: var(--heading-font);
  color: var(--accent-color);
  background-color: var(--main-color);

  border-radius: 5px;
  border: transparent;
  padding: 1rem 2rem;
  font-size: 2rem;
  cursor: pointer;

  transition: all 0.75s ease;
}

footer button:hover {
  background-color: var(--accent-color);
  color: var(--main-color);
}

/* Media Queries */

@media (max-width: 1100px) {
  #root {
    height: 100vh;
    width: 100vw;

    padding: 1rem;
  }

  header {
    display: flex;
    flex-direction: column;
  }

  header h1 {
    font-size: 3rem;
  }

  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);

    gap: 0.5rem;
  }

  .cardName h2 {
    font-size: 1.5rem;
  }

  footer button {
    margin-bottom: 1rem;
  }
}
